@model IEnumerable<DOAN3.Models.OrderDetail>
@using (Html.BeginForm("CartUpdate", "Cart", FormMethod.Post))
{
    <div class="cart-page">
        <div class="container-fluid" ng-app="myShoppingList" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-page-inner">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>

                                

                            </table>
                            <tr>
                                <br />
                                <td><button><a href="~/Product/Index">Tiếp tục mua hàng</a></button></td>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="coupon">
                                    <input type="text" placeholder="Coupon Code">
                                    <button>Apply Code</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="cart-summary">

                                    @*@foreach (var sp in Model.ToList())*@
                                    @*{*@
                                    <div class="cart-content">
                                        <h1>Cart Summary</h1>
                                        @*<p>ProductName:<span>@sp.Products.ProductName</span></p>*@
                                        <p>Sub Total<span></span></p>
                                        <p>Shipping Cost<span>$0</span></p>
                                        <h2>Grand Total<span></span></h2>
                                    </div>
                                    <div class="cart-btn">
                                        @*<button>Update Cart</button>*@
                                        <button type="submit" class="btn btn-sm btn-info" name="CapNhat" value="Cập nhật giỏ hàng">Updata Cart</button>
                                        @*<input type="submit" class="btn btn-sm btn-info" name="CapNhat" value="Cập nhật giỏ hàng" />*@


                                        <button><a class="btn" href="/Checkout/Index">Checkout</a></button>


                                        @*<button href="/Checkout/Index">Checkout</button>*@
                                    </div>
                                    @*}*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
