<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TINIShop</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    @*<li class="nav-item">
            <a class="nav-link" href="/AdminCP/Home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Quản trị</span>
            </a>
        </li>*@


    <!-- Divider -->
    <!--<hr class="sidebar-divider">-->
    <!-- Heading -->
    <!--<div class="sidebar-heading">
        ProductsCategoris
    </div>-->
    <!-- Nav Item - Pages Collapse Menu -->
    @*<li class="nav-item">
            <a class="nav-link" href="/AdminCP/ProductsCategories/Index">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Loại sản phẩm</span>
            </a>
        </li>*@

    @*<li class="nav-item">
            <a class="nav-link" href="/AdminCP/Products/Index">
                <i class="fas fa-fw fa-hotel"></i>
                <span>Quản lý sản phẩm</span>
            </a>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link collapsed" href="/AdminCP/ProductsCategories/Index" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Loại sản phẩm</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Function:</h6>
                    <a class="collapse-item" href="/AdminCP/ProductsCategories/Index">ProductsCategories</a>
                    <a class="collapse-item" href="/AdminCP/ProductsCategories/Create">Create</a>
                </div>
            </div>
        </li>*@
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        DASHBOARD
    </div>

    <li class="nav-item">
            <a class="nav-link" href="/AdminCP/Admin/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Bảng điều khiển</span>
            </a>
        </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Administration
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Quản lý</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">ProductsCategories:</h6>
                <a class="collapse-item" href="/AdminCP/ProductsCategories/Index">Loại sản phẩm</a>
                <h6 class="collapse-header">Products:</h6>
                <a class="collapse-item" href="/AdminCP/Products/ViewData">Sản phẩm</a>
                <h6 class="collapse-header">Users</h6>
                <a class="collapse-item" href="/AdminCP/Users/Index">Người dùng</a>
                <h6 class="collapse-header">Supplier</h6>
                <a class="collapse-item" href="/AdminCP/Suppliers/Index">Nhà cung cấp</a>
                <h6 class="collapse-header">Orders</h6>
                <a class="collapse-item" href="/AdminCP/Orders/Index">Hóa đơn bán</a>
            </div>
        </div>
    </li>

    <!--<hr class="sidebar-divider">-->
    <!-- Heading -->
    <!--<div class="sidebar-heading">
        Manage
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Users/Index" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Người dùng, nhà cung cấp</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users</h6>
                <a class="collapse-item" href="/AdminCP/Users/Index">Người dùng</a>
                <h6 class="collapse-header">Supplier</h6>
                <a class="collapse-item" href="/AdminCP/Suppliers/Index">Nhà cung cấp</a>
            </div>
        </div>
    </li>-->
    <!--<hr class="sidebar-divider">-->
    <!-- Heading -->
    <!--<div class="sidebar-heading">
        Supplier
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Users/Index" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Nhà cung cấp</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/AdminCP/Users/Index">Supplier</a>
                <a class="collapse-item" href="/AdminCP/Users/Create">Create</a>
            </div>
        </div>
    </li>-->

    @*Nav Item - Pages Collapse Menu*@
    @*<li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item active" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>*@
    @*Nav Item - Charts
        Nav Item - Tables*@
    <!--<li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span>
            </a>
        </li>-->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
